.app-style {
  max-width: 1200px;
  min-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBox-style {
  max-width: 1200px;
  min-width: 800px;
  display: flex;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}


.input-list {
  display: flex;
  gap: 40px;
}